*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

p{
    margin-bottom: 20px;
   margin-top: 20px;
}

/* rules button general */

.button-blue{
    background-color:#0060ff;
    color: white;
    padding:0.5rem;
    margin-left:1rem;
}

.button-white{
    background-color:#fff;
    color: black;
    border: solid black;
    margin-left:1rem;
}



.button-jumbo{
    background-color:#0060ff;
    color: white;
    padding:0.5rem;
}

/* general rules for fix header */

header{
    
    position:fixed;
    z-index: 900;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
   
}
.header-containerflex {
    
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
   
    
}

.header-containerflex, li,  a{

    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 2px ;
    
}


#topnav{

   display: flex;
    align-items: center;
    font-size: 12px;
}

.header-logo {
    width: 10%;
    display: flex;
    justify-content: flex-start;
   margin-right: 20px;
    margin-left: 10px;
}


.header-link-left{

    width: 40%;
    text-align: left;
    align-items: center;
}

.header-link-right{

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
/* button "Inizia" header */
.top{
    margin-right: 10px;
}

/* fine prima sezione menu nav header */


/* rules container general seconda sezione header */

.bg-acqua{
    background-color:rgb(167, 197, 223);
    margin-top: 20px;
}

.bg-acqua h1{
    margin-top: 100px;
}
.col-a .icon{
    font-size: 70px;
    text-align: left;

}

.container{
    margin: auto;
    max-width: 1200px;
    /* debug */
    border: solid black;
}

.row  {
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
    }

    /* form title */

    .title {
        margin-bottom: 48px;
        font-size: 50px;
        margin-top: 40px;
    }
    /* img jumbo */

    img {
        max-width: 750px;
    }
    

    /* colonne content header seconda sezione*/

.col-a{
    width: calc(100% / 3);

      /* debug */
   
      border: solid rgb(42, 9, 126);
    }
.col-b{
     width: calc((100% / 3)*2);

     /* debug */
   
    border: solid black;
   
}

/*  MAIN SECTION */

.container-column{
  
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    flex-wrap: wrap;
    font-size: 12px;
    /* debug */
    background-color: rgb(9, 181, 49);
    
    
}


.container-column > h2{
 margin-top:50px;

}
.column-big{
   display: flex;
   justify-content: center;
  
}

 .column {
    
    width: calc(100% / 3);
    align-items: baseline;
    margin: 10px 10px;
    text-align: left;
    /* dbug */
    background-color: rgb(6, 93, 60);
    border: white 1px dotted;
    
}

                /* value radio buttons da inserire all active cambio tonalita blu*/

    /* sezione enterprise dopo colonne prezzi e mensili */

    .flex{
        display: flex;
    }

  








   
    
  
   








