*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* rules button general */

.button-blue{
    background-color:#0060ff;
    color: white;
    padding:0.5rem;
    margin-left:1rem;
}
/* general rules for fix header */

.header-containerflex {
    
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    
}

.header-containerflex, li,  a{

    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 2px ;
    
}


#topnav{

   display: flex;
    align-items: center;
    font-size: 12px;
    
}

.header-logo {
    width: 10%;
    display: flex;
    justify-content: flex-start;
   margin-right: 20px;
    margin-left: 10px;
}


.header-link-left{

    width: 40%;
    text-align: left;
    align-items: center;
}

.header-link-right{

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
/* button "Inizia" header */
.top{
    margin-right: 10px;
}



